@model Item

@{
    ViewData["Title"] = "Admin | Edit";
}

<h2>Edit on Item</h2>
<h4>Edit on Laptop Info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemID" />
            <div class="form-group">
                <label asp-for="ItemPicURL" class="control-label"></label>
                <input asp-for="ItemPicURL" class="form-control" />
                <span asp-validation-for="ItemPicURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemBio" class="control-label"></label>
                <input asp-for="ItemBio" class="form-control" />
                <span asp-validation-for="ItemBio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info"> < Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}