@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->


<div>
    <br />
    <h2>This ASP.NET MVC web application</h2>
<hr>
<h4>For: SDA_simplilearn Assessment Project4, Phase4:(Pizza Story & Tests Suit)</h4>
<br>
<br>
<h2>Github Project Repository</h2>
<hr>
<h4><a href="https://github.com/malshetwi/Project4_SDA.LMS">malshetwi/Project4_SDA.LMS</a></h4>
<br>
</div>
